<div class="container">
  <div class="row">
    <!--empty space-->
    <div class="col-3">
      <!--FORM-->
      <form *ngIf="window == 1" style="margin-top: 0.5rem;">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Enter title" [(ngModel)]="valueTitle">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="desciption" name="desciption" placeholder="Enter description" [(ngModel)]="valueDescription">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3" placeholder="Type your new" [(ngModel)]="valueContent"></textarea>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" name="author" placeholder="Enter your name" [(ngModel)]="valueAuthor">
        </div>
        <button class="btn btn-primary" style="margin-top: 0.5rem;" (click)="createNew()">Submit</button>
      </form>
    </div>
    <!--NEWS-->
    <div class="col-6 wall">
      <div *ngFor="let new of this.news" class="card text-white bg-info mb-3">
        <div class="card-header row">
          <!--HEADER-->
          <div class="col-10" style="margin-top: 0.5rem;">
            <h5>{{new.title}}</h5>
          </div>
          <button *ngIf="this.window == 1" type="button" class="btn btn-danger col-2" (click)="archiveNew(new._id)">Archive</button>
          <button *ngIf="this.window == 2" type="button" class="btn btn-danger col-2" (click)="removeNew(new._id)">Remove</button>
        </div>
        <!--BODY-->
        <div class="card-body">
          <h5 class="card-title">{{new.description}}</h5>
          <p class="card-text">{{new.content}}</p>
          <p class="card-text">{{new.author}}</p>
          <p *ngIf="this.window == 1" class="card-text" >{{new.date}}</p>
          <p *ngIf="this.window == 2" class="card-text">{{new.archiveDate}}</p>
        </div>
      </div>
    </div>
    <!--empty space-->
    <div class="col-4"></div>
  </div>
</div>
